@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .vehicle-section {
        @apply grid grid-cols-4 max-xl:grid-cols-3 max-lg:grid-cols-2 max-md:grid-cols-1 gap-10 mt-7;
    }
    .input-primary {
        @apply border p-2 rounded-xl text-sm focus:border-primary focus:ring-0 focus:outline-none hover:border-primary
    }
    .sub-card {
        @apply bg-white rounded-xl shadow-md p-4 w-full;
        margin-left: 0;
        max-width: 100%;
        box-sizing: border-box;
    }
    
    @media (min-width: 640px) {
        .sub-card {
            margin-left: 50px;
            max-width: calc(100% - 50px);
        }
    }
    
    @media (min-width: 768px) {
        .sub-card {
            margin-left: 80px;
            max-width: calc(100% - 80px);
        }
    }
    
    @media (min-width: 1024px) {
        .sub-card {
            margin-left: 130px;
            max-width: calc(100% - 130px);
        }
    }
}
.mySwiper{
    --swiper-navigation-color: white;
    --swiper-pagination-color: white;
}